.green {
    height: '100%';
    background-color: 'green';
    z-index: 0;
    scroll-snap-align: 'start';
    margin-top: 0%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}


#card{
    height: auto;
    width: 20%;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border: solid black 1px;
}

.green .row{
    width: 80%;
    margin: 15%;
    height: 80%;
    margin-top: 15%;
    
}

.col{
    width: 20%;
    padding-left: 5px;
    display: inline-block;
}

