.block {
    height: 30%;
    width: 100%;
    min-width: 400px;
    min-height: 300px;
    border: solid black 1px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    overflow: hidden;
    justify-content: center;
        
}


.quote {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.quote p {
    margin-top: 40px;
    font-family: cursive;
    font-size: x-large;
    float: left;
    width: 60%;
    padding: 5px;
}

.vl {
    border-left: solid gray 2px;
    height: 20%;
    margin-top: 5%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.profile-pic {
    float: right;
}
.block img{
    height: 80%;
    width: 30%;
    border-radius: 50%;
    float: right;
    padding : 5px;
    float: right;
    margin-right: 20px;
    padding: 5px;
    
}

/* .column {
    float: left;
    width: 40%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  /* .row::after {
    content: "";
    clear: both;
    display: table;
  }  */

